*{
    font-family: 'Merienda', cursive;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    font-size: 16px;
}

main{
    margin-left: 30%;
    margin-right: 30%;
}

main#about{
    margin-left: 20%;
    margin-right: 20%;
   
}

hr{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: gainsboro;
}

img{
    height: auto;
    width: 10%;
}

a{
    color: #1059ec;
    text-decoration: none;
}

button{
    margin-top: 4%;
    padding:1% 3%;
    border-radius: 22px;
    color:#fff;
    background-color:#1976d2;
    font-size: 14px;
    border:0;
    cursor: pointer;
  }

p{
    margin: 1%;
}

h1{
    margin: 0;
}

h2{
    margin: 0;
}

/*Form styling*/
#form-wrapper{
    padding: 5%;
    width: 40%;
    /* border: 3px solid blue; */
    text-align: left;
    margin: auto auto;
    box-shadow: grey;

}

#form-block{
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */

}

input, select{
    
    width: 50%;
    background-color: #fff;
    border: 1px solid #828282;
    font-family: 'Manrope', sans-serif;
    /* border: 1px solid green; */
    height: 100%;
}
/* input{
    padding-left: 2%;
} */

.form-heading, label{
    font-family: 'Halant', serif;
}

.form-row{
    margin: 2% 0;
    padding-right: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.radio-check{
    display: flex;
    flex-direction: row;
}

.checkboxes{
    display: flex;
    width: 50%;
}

.radio-check-container{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
#form-btn{
    margin-left: auto;
    width: 50%;
    border-radius: 3%;
    font-family: 'Manrope', sans-serif;
    background: #155EEF;
    ;
}
.label-check{
    font-size: medium;
    /* border: 1px solid red; */
    flex-shrink: unset;
}

/* .j{
    margin-right: 5%;
} */